*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .25s ease-in-out;
}
*::-webkit-scrollbar{
    background-color: #FEFEFE;
    width: 8px;
}
*::-webkit-scrollbar-thumb{
    width: 100%;
    background-color: rgb(80, 0, 155);
    border-radius:4px;
}
*::-webkit-scrollbar-thumb:active{
    width: 100%;
    background-color: rgb(50, 0, 97);
}
div#root{
    width: 100vw;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    width: 100vw;
    height: fit-content;
    padding: 10px 15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
aside.left-aside{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    gap: 10px;
    background-color: rgba(11, 11, 67, 0.75);
    backdrop-filter: blur(10px);
    width: 360px;
    height: 100vh;
    z-index: 100;
    padding: 10px;
}
aside.left-aside.shown{
    transform: translateX(-360px);
}
aside.left-aside.hidden{
    transform: translateX(0);
}
aside.right-aside{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    gap: 10px;
    background-color: rgba(11, 11, 67, 0.75);
    backdrop-filter: blur(10px);
    width: 360px;
    height: 100vh;
    z-index: 100;
    padding: 10px;
}
aside.right-aside.shown{
    transform: translateX(360px);
}
aside.right-aside.hidden{
    transform: translateX(0);
}
section.messages{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    gap: 5px;
}
section.messages div.message-preview{
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr;
    position: relative;
    cursor: pointer;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
section.messages div.message-preview img{
    grid-area: 1 / 1 / 3 / 2;
    width: 60px;
    height: 60px;
}
section.messages div.message-preview h6{
    grid-area: 1 / 2 / 2 / 3;
}
section.messages div.message-preview p{
    grid-area: 2 / 2 / 3 / 3;
}
section.messages div.message-preview span{
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
div.message-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: clamp(300px, 60vw, 800px);
}
div.message{
    width:clamp(300px, 60vw, 450px);
    height: fit-content;
    padding: 5px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
div.message p{
    width: 100%;
    text-align: start;
}
div.message svg{
    position: absolute;
    top: -5px;
    right: 0;
}
div.message img.avatar{
    position: sticky;
    top: 0;
    left: 0;
}
div.message span{
    border-radius: 50%;
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size:10px;
}
div.message span img{
    width:clamp(300px, 60vw, 450px);
    height: fit-content;
    padding: 5px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
div.messages-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
div.messages-container span.date-display{
    position: sticky;
    top: 10px;
    z-index: 10;
    background-color: #B7B7B7;
    border-radius: 10px;
    padding: 5px;
}
section.dialog{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    z-index: 100;
}
section.dialog.shown{
    clip-path: circle(100% at 50% 50%);
    transition: clip-path .25s;
}
section.dialog.hidden{
    clip-path: circle(0% at 50% 50%);
    transition: clip-path .25s;
}
section.dialog > div{
    width: clamp(400px, 50vw, 600px);
    height: 500px;
    background-color: #FEFEFE;
    border-radius: 10px;
}
div.user-preview,div.requests-preview,div.group-preview{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 10px;
    margin: 10px;
}
div.toast{
    position: fixed;
    padding: 10px;
    border-radius: 10px;
    z-index: 300;
    bottom: 10px;
}
div.toast.shown{
    right: 100px;
}
div.toast.hidden{
    right: 0;
}
.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #fff;
    justify-self: center;
    align-self: center;
}
.loader::before,
.loader::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}
.loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {
    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}
div.accordion-item > h2 > button.accordion-button::after{
    position: absolute;
    content:"";
    top: auto;
    right: 10px;
    background-image:url("./assets/Asset 2.svg");
}
footer{
    width: 100vw;
    height: fit-content;
    padding: 10px 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}